header {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  header span {
    margin-right: 20px;
    display: inline-block;
    width: 20px;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    background-color: #d0c7f7;
    color: #6d28d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .select {
    width: 150px;
    margin-left: 1rem;
    color: black;
  }
.navbartitle{
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

@media only screen and (max-width: 550px){
  header h2{
    font-size: 15px;
    font-weight: bold;
  }
  .select{
    width: 100px;
    font-size: 15px;
  }
  .navbartitle{
    font-size: 20px;
  }
}
@media only screen and (max-width: 400px){
  header h2{
    font-size: 14px;
    font-weight: bold;
  }
  .navbartitle{
    font-size: 18px;
  }
}