.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
  }