ul{
    list-style-type: none;
}
.sidebarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.sidebaritems{
    line-height: 20px;
    padding: 10px;
    background-color: #ccc;
}